
a {
    color: rgb(31, 31, 31) !important;
    text-decoration: none !important;
}

footer li.footer__widget--menu__list a.footer__widget--menu__text {
    color: rgb(148, 148, 148) !important;
}

footer a.copyright__content--link {
    color: rgb(148, 148, 148) !important;
}

.active-address-card {
    background: gray;
}

.bg-gray-50 {
    background-color: white !important;
}

.bg-cyan-600 {
    background-color: rgb(173, 29, 29) !important;
    font-size: 1.5rem;
}

.ring-cyan-300 {
    outline: none !important;
} 

main .class-tabs button {
    font-size: 1.5rem;
}

main .class-tabs button:active {
    outline: none;
}

.active-user-sidebar {
    background-color: gray !important;
}

.bg-active-address {
    background-color: pink ;
}